/* Main view animations */
.view-container {
    position: relative;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
    background: white;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.view-frame.ng-enter {
    animation: 1s fade-in;
    z-index: 100;
}

.view-frame.ng-leave {
    animation: 1s fade-out;
    z-index: 99;
}

@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fade-out {
    from {opacity: 1}
    to {opacity: 0}
}

/* Phone list view animations */
.phone-list-item.ng-enter,
.phone-list-item.ng-leave,
.phone-list-item.ng-move {
    transition: 0.5s linear all;
}

.phone-list-item.ng-enter,
.phone-list-item.ng-move {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.phone-list-item.ng-enter-active,
.phone-list-item.ng-move-active {
    height: 120px;
    opacity: 1;
}

.phone-list-item.ng-leave {
    opacity: 1;
    overflow: hidden;
}

.phone-list-item.ng-leave.ng-leave-active {
    height: 0;
    opacity: 0;
    padding-bottom: 0;
    padding-top: 0;
}